email-validator==2.3.0
Faker==40.31.0
fastapi==0.139.2
httpx==0.28.1
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic-settings==2.14.2
pytest==9.1.1
python-dotenv==1.2.2
SQLAlchemy==2.0.51
uvicorn==0.51.0
pytest-cov==7.1.0